$color-brand-pumpkin: #ea702a;
$color-brand-yellow: #fab429;
$color-brand-turquoise: #62cbb8;
$color-brand-teal: #2da6be;
$color-brand-blue: #006bb8;
$color-brand-violet: #5356ac;
$color-brand-purple: #983a98;
$color-brand-magenta: #c91870;
$color-brand-red: #d81838;
