$color-neutral-100: #0b0b14;
$color-neutral-95: #10111d;
$color-neutral-90: #161726;
$color-neutral-85: #1c1e30;
$color-neutral-80: #23253a;
$color-neutral-75: #2a2c44;
$color-neutral-70: #32344f;
$color-neutral-65: #3a3d5a;
$color-neutral-60: #434665;
$color-neutral-55: #4d5071;
$color-neutral-50: #585b7d;
$color-neutral-45: #636689;
$color-neutral-40: #6f7294;
$color-neutral-35: #7f819e;
$color-neutral-30: #8f91a8;
$color-neutral-25: #9fa0b2;
$color-neutral-20: #afb0be;
$color-neutral-15: #c0c0ca;
$color-neutral-10: #d0d1d7;
$color-neutral-5: #e1e1e4;
$color-neutral-0: #f2f2f3;
$color-map-neutral: ("neutral-100": $color-neutral-100, "neutral-95": $color-neutral-95, "neutral-90": $color-neutral-90, "neutral-85": $color-neutral-85, "neutral-80": $color-neutral-80, "neutral-75": $color-neutral-75, "neutral-70": $color-neutral-70, "neutral-65": $color-neutral-65, "neutral-60": $color-neutral-60, "neutral-55": $color-neutral-55, "neutral-50": $color-neutral-50, "neutral-45": $color-neutral-45, "neutral-40": $color-neutral-40, "neutral-35": $color-neutral-35, "neutral-30": $color-neutral-30, "neutral-25": $color-neutral-25, "neutral-20": $color-neutral-20, "neutral-15": $color-neutral-15, "neutral-10": $color-neutral-10, "neutral-5": $color-neutral-5, "neutral-0": $color-neutral-0);

$color-pumpkin-100: #5d2809;
$color-pumpkin-90: #79340c;
$color-pumpkin-80: #95400f;
$color-pumpkin-70: #b04c11;
$color-pumpkin-60: #cc5814;
$color-pumpkin-50: #e86417;
$color-pumpkin-40: #eb7633;
$color-pumpkin-30: #ee894f;
$color-pumpkin-20: #f09c6a;
$color-pumpkin-10: #f3ae86;
$color-pumpkin-0: #f6c1a2;
$color-map-pumpkin: ("pumpkin-100": $color-pumpkin-100, "pumpkin-90": $color-pumpkin-90, "pumpkin-80": $color-pumpkin-80, "pumpkin-70": $color-pumpkin-70, "pumpkin-60": $color-pumpkin-60, "pumpkin-50": $color-pumpkin-50, "pumpkin-40": $color-pumpkin-40, "pumpkin-30": $color-pumpkin-30, "pumpkin-20": $color-pumpkin-20, "pumpkin-10": $color-pumpkin-10, "pumpkin-0": $color-pumpkin-0);

$color-yellow-100: #664400;
$color-yellow-90: #855800;
$color-yellow-80: #a36d00;
$color-yellow-70: #c28100;
$color-yellow-60: #e09600;
$color-yellow-50: #ffaa00;
$color-yellow-40: #ffb41f;
$color-yellow-30: #ffbe3d;
$color-yellow-20: #ffc95c;
$color-yellow-10: #ffd37a;
$color-yellow-0: #ffdd99;
$color-map-yellow: ("yellow-100": $color-yellow-100, "yellow-90": $color-yellow-90, "yellow-80": $color-yellow-80, "yellow-70": $color-yellow-70, "yellow-60": $color-yellow-60, "yellow-50": $color-yellow-50, "yellow-40": $color-yellow-40, "yellow-30": $color-yellow-30, "yellow-20": $color-yellow-20, "yellow-10": $color-yellow-10, "yellow-0": $color-yellow-0);

$color-turquoise-100: #174f45;
$color-turquoise-90: #1e6759;
$color-turquoise-80: #257e6e;
$color-turquoise-70: #2c9683;
$color-turquoise-60: #32ae97;
$color-turquoise-50: #39c6ac;
$color-turquoise-40: #51cdb6;
$color-turquoise-30: #69d3c0;
$color-turquoise-20: #81daca;
$color-turquoise-10: #98e1d4;
$color-turquoise-0: #b0e8de;
$color-map-turquoise: ("turquoise-100": $color-turquoise-100, "turquoise-90": $color-turquoise-90, "turquoise-80": $color-turquoise-80, "turquoise-70": $color-turquoise-70, "turquoise-60": $color-turquoise-60, "turquoise-50": $color-turquoise-50, "turquoise-40": $color-turquoise-40, "turquoise-30": $color-turquoise-30, "turquoise-20": $color-turquoise-20, "turquoise-10": $color-turquoise-10, "turquoise-0": $color-turquoise-0);

$color-teal-100: #134853;
$color-teal-90: #195e6c;
$color-teal-80: #1e7485;
$color-teal-70: #248a9e;
$color-teal-60: #2a9fb7;
$color-teal-50: #2fb5d0;
$color-teal-40: #48bed5;
$color-teal-30: #61c7db;
$color-teal-20: #7ad0e1;
$color-teal-10: #93d9e6;
$color-teal-0: #ace1ec;
$color-map-teal: ("teal-100": $color-teal-100, "teal-90": $color-teal-90, "teal-80": $color-teal-80, "teal-70": $color-teal-70, "teal-60": $color-teal-60, "teal-50": $color-teal-50, "teal-40": $color-teal-40, "teal-30": $color-teal-30, "teal-20": $color-teal-20, "teal-10": $color-teal-10, "teal-0": $color-teal-0);

$color-blue-100: #083a5e;
$color-blue-90: #0a4c7b;
$color-blue-80: #0c5d97;
$color-blue-70: #0f6fb3;
$color-blue-60: #1180d0;
$color-blue-50: #1392ec;
$color-blue-40: #2f9fee;
$color-blue-30: #4cacf0;
$color-blue-20: #68b9f3;
$color-blue-10: #84c6f5;
$color-blue-0: #a1d3f7;
$color-map-blue: ("blue-100": $color-blue-100, "blue-90": $color-blue-90, "blue-80": $color-blue-80, "blue-70": $color-blue-70, "blue-60": $color-blue-60, "blue-50": $color-blue-50, "blue-40": $color-blue-40, "blue-30": $color-blue-30, "blue-20": $color-blue-20, "blue-10": $color-blue-10, "blue-0": $color-blue-0);

$color-violet-100: #212245;
$color-violet-90: #2b2d5a;
$color-violet-80: #35376e;
$color-violet-70: #3f4183;
$color-violet-60: #494c97;
$color-violet-50: #5356ac;
$color-violet-40: #686ab6;
$color-violet-30: #7c7ec0;
$color-violet-20: #9193ca;
$color-violet-10: #a5a7d4;
$color-violet-0: #babbde;
$color-map-violet: ("violet-100": $color-violet-100, "violet-90": $color-violet-90, "violet-80": $color-violet-80, "violet-70": $color-violet-70, "violet-60": $color-violet-60, "violet-50": $color-violet-50, "violet-40": $color-violet-40, "violet-30": $color-violet-30, "violet-20": $color-violet-20, "violet-10": $color-violet-10, "violet-0": $color-violet-0);

$color-purple-100: #501650;
$color-purple-90: #681d68;
$color-purple-80: #802380;
$color-purple-70: #982a98;
$color-purple-60: #b030b0;
$color-purple-50: #c837c8;
$color-purple-40: #cf4fcf;
$color-purple-30: #d567d5;
$color-purple-20: #dc7fdc;
$color-purple-10: #e297e2;
$color-purple-0: #e9afe9;
$color-map-purple: ("purple-100": $color-purple-100, "purple-90": $color-purple-90, "purple-80": $color-purple-80, "purple-70": $color-purple-70, "purple-60": $color-purple-60, "purple-50": $color-purple-50, "purple-40": $color-purple-40, "purple-30": $color-purple-30, "purple-20": $color-purple-20, "purple-10": $color-purple-10, "purple-0": $color-purple-0);

$color-magenta-100: #5b0b33;
$color-magenta-90: #770e42;
$color-magenta-80: #921152;
$color-magenta-70: #ad1461;
$color-magenta-60: #c91870;
$color-magenta-50: #e41b80;
$color-magenta-40: #e7368f;
$color-magenta-30: #eb529e;
$color-magenta-20: #ee6dad;
$color-magenta-10: #f188bd;
$color-magenta-0: #f4a4cc;
$color-map-magenta: ("magenta-100": $color-magenta-100, "magenta-90": $color-magenta-90, "magenta-80": $color-magenta-80, "magenta-70": $color-magenta-70, "magenta-60": $color-magenta-60, "magenta-50": $color-magenta-50, "magenta-40": $color-magenta-40, "magenta-30": $color-magenta-30, "magenta-20": $color-magenta-20, "magenta-10": $color-magenta-10, "magenta-0": $color-magenta-0);

$color-red-100: #640212;
$color-red-90: #820318;
$color-red-80: #a0031d;
$color-red-70: #be0423;
$color-red-60: #dc0428;
$color-red-50: #fa052e;
$color-red-40: #fb2347;
$color-red-30: #fb4160;
$color-red-20: #fc5f79;
$color-red-10: #fc7d92;
$color-red-0: #fd9bab;
$color-map-red: ("red-100": $color-red-100, "red-90": $color-red-90, "red-80": $color-red-80, "red-70": $color-red-70, "red-60": $color-red-60, "red-50": $color-red-50, "red-40": $color-red-40, "red-30": $color-red-30, "red-20": $color-red-20, "red-10": $color-red-10, "red-0": $color-red-0);

$color-green-100: #011910;
$color-green-90: #013121;
$color-green-80: #024f34;
$color-green-70: #03704a;
$color-green-60: #049663;
$color-green-50: #05c17f;
$color-green-40: #06f09e;
$color-green-30: #31fab3;
$color-green-20: #69fbc8;
$color-green-10: #a5fdde;
$color-green-0: #e6fef6;
$color-map-green: ("green-100": $color-green-100, "green-90": $color-green-90, "green-80": $color-green-80, "green-70": $color-green-70, "green-60": $color-green-60, "green-50": $color-green-50, "green-40": $color-green-40, "green-30": $color-green-30, "green-20": $color-green-20, "green-10": $color-green-10, "green-0": $color-green-0);
