/*
  https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
  https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/
*/

@mixin text-select-auto {
  user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
}

@mixin text-select-none {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin align-content-center-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
