// Fixed size spacing
$space-fixed-quarter:   2px;
$space-fixed-half:      4px;
$space-fixed-default:   8px;
$space-fixed-double:    16px;
$space-fixed-quadruple: 32px;

// Spacing relative to element's font size
$space-relative-quarter:   0.125em;
$space-relative-half:      0.25em;
$space-relative-default:   0.5em;
$space-relative-double:    1em;
$space-relative-triple:    1.5em;
$space-relative-quadruple: 2em;
