// Fonts
// -----------------------------------------------------------------------------
// Sans-serif font stack
$font-family-sans-serif:
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Default Microsoft UI font since Windows Vista
  "Segoe UI",
  // Android
  "Roboto",
  // Ubuntu Linux
  "Ubuntu",
  // Basic web fallback
  //"Helvetica Neue", // not sure this one is relevant
  Arial,
  sans-serif;

// Monospaced font stack
$font-family-monospace: SFMono-Regular,
                        Menlo,
                        Monaco,
                        Consolas,
                        "Liberation Mono",
                        "Courier New",
                        monospace;

/// https://blog.logrocket.com/how-to-use-web-fonts-in-css-a0326f4d6a4d/


///body {
///	font-family:
///		-apple-system,
///		BlinkMacSystemFont,
///		'Segoe UI',
///		Roboto,
///		Helvetica, OR neue ????????
///		Arial,
///		sans-serif,
///		'Apple Color Emoji',
///		'Segoe UI Emoji',
///		'Segoe UI Symbol';
///}

/*
$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
*/

///  SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 1 */

// Sizes
// -----------------------------------------------------------------------------
// Font size from the largest to the smallest
$font-size-1: 2rem;
$font-size-2: 1.75rem;
$font-size-3: 1.5rem;
$font-size-4: 1.25rem;
$font-size-5: 1.15rem;
$font-size-6: 1rem; // default size
$font-size-7: 0.75rem;
$font-size-8: 0.5rem;

// Default line height
$line-height-default: 1.4;

$line-height-1: 1.1;
$line-height-2: 1.1;
$line-height-3: 1.2;
$line-height-4: 1.2;
$line-height-5: $line-height-default;
$line-height-6: $line-height-default;
$line-height-7: 1.6;
$line-height-8: 0.75;

@mixin font-size-height-1 {
  font-size: $font-size-1;
  line-height: $line-height-1;
}

@mixin font-size-height-2 {
  font-size: $font-size-2;
  line-height: $line-height-2;
}

@mixin font-size-height-3 {
  font-size: $font-size-3;
  line-height: $line-height-3;
}

@mixin font-size-height-4 {
  font-size: $font-size-4;
  line-height: $line-height-4;
}

@mixin font-size-height-5 {
  font-size: $font-size-5;
  line-height: $line-height-5;
}

@mixin font-size-height-6 {
  font-size: $font-size-6;
  line-height: $line-height-6;
}

@mixin font-size-height-7 {
  font-size: $font-size-7;
  line-height: $line-height-7;
}

@mixin font-size-height-8 {
  font-size: $font-size-8;
  line-height: $line-height-8;
}

@mixin font-family-and-size-default {
  font-family: $font-family-sans-serif;
  @include font-size-height-6;
}

////  TODO weight

// Behaviours
// -----------------------------------------------------------------------------
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-no-wrap-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin keep-height-when-empty {
  &:empty:before {
    content: "\200b";
  }
}
